body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.box
{
	height: 100%;
	width: 100%;
	background: #2b2d42;
	padding:10px;

}
.box img
{
	height: 350px;
	width: 400px;
	position: relative;
	left: 5%;
	margin: 2px;
	box-sizing: border-box;
	border-radius: 5px;
}